{% extends "base.html" %}

{% block title %}{{destination.name}}{% endblock title %}

{% block content %}
<div class="card mb-3">
  <img src="{{destination.pretty_picture.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title font-weight-bold" style="font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive; font-family: 'Roboto Mono', monospace;">{{destination.name}}</h5>
    <p class="card-text font-weight-bold" style = "font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;"> {{destination.description}}</p>
    <p class="card-text font-weight-bold" style = "font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;"><small class="text-muted">{{destination.activities}}</small></p>
    <p class="card-text font-weight-bold" style = "font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;"> {{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button class = "btn btn-outline-info" style = " font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button class = "btn btn-outline-info" style = " font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;">Delete</button>
    </a>

  </div>
</div>
{% endblock content %}
