{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<div class = "container m-5 mt-5">
  <div class="row">
      {% for destination in destinations %}
        <div class = "col-4 mb-5">
          <div class="card h-100 bg-transparent border-dark text-white ">
            <img class="card-img-top " src="{{destination.pretty_picture.url}}"  style=" height: 200px; object-fit: cover;" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title" style="font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive; font-family: 'Roboto Mono', monospace;">{{destination.name}}</h5>
              <br>
              <br>
              <p class="card-text " style = "font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;">{{destination.activities}}</p>
            </div>

            <div class="card-footer">
              <small class="text-muted">
                <a href="{% url 'destination-detail' destination.id %}" class="btn btn-outline-info" style = " font-family: 'Assistant', sans-serif;font-family: 'Bebas Neue', cursive;font-family: 'Nunito', sans-serif;font-family: 'Roboto Mono', monospace;">Tell me more!!! &raquo;
                </a>
              </small>
            </div>

          </div>
        </div>
      {% endfor %}
  </div>
</div>


{% endblock content %}
